$bk_color1:#161717;
$bk_color2:#1C1D20;
$bk_color3:#292B32;
$bk_color4:#393D4E;
$bk_color5:#0B1E74;
$bk_color6:#0326C8;
$bk_color7:#6273C0;
$bk_color8:#46495A;
$footer_background: #434343;
$scroll_track: #5c97bf;


$font_para:  'Josefin Slab', serif;
$font_heading: 'Alegreya', serif;


body{
    //background-color: $background_color;
    background-image: radial-gradient($bk_color4,$bk_color3,$bk_color2,$bk_color1);
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: justify;
  text-justify: inter-word;
}

.section-header{
    color: white;
    font-family: $font_heading;
    font-size: 2em;
    margin: 1%;

}

.secondary-header{
    color: white;
    font-family: $font_heading;
    font-size: 1.7em;
    margin: 1%;
    margin-left: 5%;
}

.paragraph{
    color: white;
    font-family: $font_para;
    font-size: 1.5em;
    margin: 1%;
    margin-left: 10%;
}

.new-section{
    margin-top: 100px;
}

.about{
    width: 84%;
    
    margin-left: 8%;
    display: flex;
    flex-direction: column;
}

.pic{
    align-self: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url("images/me.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;    
    //box-shadow: 0px 0px 20px #fff;
   // -webkit-animation: glow 1s ease-in-out infinite alternate;
   // -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow{
    from{
            box-shadow: 0px 0px 5px black;
    }
    to{
            box-shadow:0px 0px 25px white;
    }
}

.contact-information{
    align-self: center;
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    button{
        width: 250px;
        display: flex;
        justify-content: space-between;
        font-family: $font_heading;
        font-size: 1.2em;
        background-color: $footer_background;
        color: #fff;
        border: none;
       
        font-weight: bolder;

        span{
            transform: rotate(90deg);
            
        }
    }

    .contact-data{
        background-color: $footer_background;
        color: #fff;
        width: 100%;
        
        display: none;
        font-family: $font_para;
        display: flex;
        flex-direction: column;      
        span{
            i{
                font-size: 18px;
            }
        }  
        
    }
}

.experience{
    display: flex;
    flex-direction: column;
}

.education{
    display: flex;
    flex-direction: column;
}

@mixin pad {
    padding: 0px;
}
h1{
    @include pad;
}
h2{
    @include pad;
}
p{
    @include pad;
}
a{
    color: white;
    text-decoration: none;
}

.footer{
    position: sticky;
    background-color: $footer_background;
    bottom: 0px;
    height: 70px;
    width: 100vw;
    overflow-x: auto;
    display: flex;
    flex-direction: column;

    .footer-slides{
        width: 100vw;
        overflow-x: auto;
        height: 70px;
        display: flex;
        flex-direction: row;
        scrollbar-width: thin;
        scrollbar-color:$scroll_track $footer_background;
        scroll-behavior: smooth !important;
        
        .footer-social{
            width: 100vw;
            display: flex;
            justify-content: space-around;
            margin-bottom: 3px;
            flex-shrink: 0;
        }
    
        .footer-links{
            width: 100vw;
            display: flex;
            flex-shrink: 0;
            justify-content: space-around;
            margin-bottom: 3px;
    
        }
    }

    
       

    


}


.icon{
    display: inline-block;
    text-decoration: none;
    padding-top: 5px;
}

.facebook-icon{
    content: url("images/facebook.png");
    width: 48px;
    height: 48px;
    
    &:hover{
        transform: scale(1.16);
    }
    
}

.linkedin-icon{
    content: url("images/linkedin.png");
    width: 48px;
    height: 48px;
    
    &:hover{
        transform: scale(1.16);
    }
}

.email-icon{
    content: url("images/email.png");
    width: 48px;
    height: 48px;
    
    &:hover{
        transform: scale(1.16);
    }
}

.github-icon{
    content: url("images/github.svg");
    width: 48px;
    height: 48px;
    
    &:hover{
        transform: scale(1.16);
    }
}

.call-icon{
    content: url("images/call.png");
    width: 48px;
    height: 48px;
    
    &:hover{
        transform: scale(1.16);
    }
}

.footer-slides::-webkit-scrollbar {
    height: 5px;
    scroll-behavior: smooth !important;
  }
   
.footer-slides::-webkit-scrollbar-track {
   background-color: $footer_background
  }
   
  .footer-slides::-webkit-scrollbar-thumb {
    background-color: $scroll_track;
    border-radius: 10px;
  }

  


